@import 'block/settings/variables.scss';
@import 'block/settings/mixins.scss';
@import 'block/settings/common.scss';
@import 'block/settings/fonts.scss';
@import 'block/settings/icons.scss';

@mixin ph {
    @media (max-width: 700px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    @include min768 {
        background-image: url(../img/backgrounds-16.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@import 'block/*.scss';
