$base-font-size: 16px;

@mixin ph {
    @media (max-width: 700px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-size: $base-font-size;
    font-family: Arial;
    line-height: 1.5;

    @include ph {
        color: #fff;
        background-color: #000;
    }
}

@import 'block/*.scss';
