* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 992px) {
  body {
    font-size: 26px;
    background-color: rgb(174, 172, 172);
  }
}

@import "block/title.css";
@import "block/text.css";