*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-family: $main-font;
	font-size: $base-size;
	color: $white-color;
	background-color: $grey-color;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0px 15px;
}

.button {
	border: none;
	background-color: #489901;
	color: #ffffff;
	font-size: 18px;
	padding: 7px;
	min-height: 48px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 5px;
	transition: background-color 0.3s ease 0s;
	cursor: pointer;

	&:hover {
		background-color: darken(#489901, 5%) ;
	}
}

body {

    @include min768 {
        background-image: url(../../../img/backgrounds-16.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}