@font-face{
	font-family: 'Oswald-Regular';
	src: url(../font/Oswald-Regular.ttf) format('truetype'),
			url(../font/Oswald-Regular.eot) format('eot'),
			url(../font/Oswald-Regular.woff) format('woff'),
			url(../font/Oswald-Regular.woff2) format('woff2');
}

@font-face{
	font-family: 'Oswald-Light';
	src: url(../font/Oswald-Light.ttf) format('truetype'),
			url(../font/Oswald-Light.eot) format('eot'),
      url(../font/Oswald-Light.woff) format('woff'),
			url(../font/Oswald-Light.woff) format('woff');
}

@font-face{
	font-family: 'Oswald-Bold';
	src: url(../font/Oswald-Bold.ttf) format('truetype'),
			url(../font/Oswald-Bold.eot) format('eot'),
      url(../font/Oswald-Bold.woff) format('woff'),
			url(../font/Oswald-Bold.woff2) format('woff2');
}