$white-color: #ffffff;
$black-color: #000000;
$grey-color: #aaaaaa;

$light-font: 'Oswald-Light', sans-serif;
$main-font: 'Oswald-Regular', sans-serif;
$bold-font: 'Oswald-Bold', sans-serif;

$base-size: 16px;
$baze-line: 1.5;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$minWidth: 320px;
$maxWidth: 1920px;

$maxWidthContainer: 1230px;